html {
	margin: 0;
	padding: 0;	
}
html, body {margin: 0; height: 100%; overflow: hidden}
body {
	background-image: url("../images3/bg.jpg");
	background-size:cover;
}

.fields {
	width: 25px;
	
}


.firstBar {
	margin-top:-40px;	
}

.secondBar {
	margin-top:-60px;	
}

.hidden {
	display: none;
}

@font-face {
    font-family: neuropolCustom;
    src: url(../fonts/neuropol.ttf);
}

@font-face {
    font-family: bebasCustom;
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: airstrikeCustom;
    src: url(../fonts/airstrike.ttf);
}


.experience {
	
	font-family: Verdana;
	color: white;
	-webkit-text-stroke: 0.5px #1EAFDC;
	font-size: 22px;

}

label {
	
	font-family: Verdana;
	color: white;
	-webkit-text-stroke: 0.5px #1EAFDC;

}

h2 {
	margin:0;
	padding:0;	
	padding-bottom:7px;
	//margin-bottom:5px;
}

h1 {
	text-align: center;
	font-family: neuropolCustom;
	color: white;
	padding-top: 30px;
	stroke: blue;
	margin-top: 10px;
	padding:0;
	
	-webkit-text-stroke: 0.5px #1EAFDC;
	/*
    text-shadow:
    1px 1px 0 blue,
    -1px -1px 0 blue,  
    1px -1px 0 blue,
    -1px 1px 0 blue,
    1px 1px 0 blue;
	*/
}


h2 {
	font-family: airstrikeCustom;
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px #1EAFDC;
	font-size: 30px;
}

h3 {
	font-family: myThirdFont;
}

.main {
	
	
}
 

.frame {
	margin: 0 auto;
	//height: 1200px;
	//border: 3px solid red;
	padding-top: 30px;
	background-image: url("../images3/overlay-grid4.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:1050px;
	text-align: center;
	//height:100%;	
	
}

.frameContainer {
	//height: 100%;
	//min-width: 200px;
	//width:80%;
	//min-width: 250px;
	//width: 800px;
	//position: relative;
	background-image: url("../newimages/background-cat-mouse.png");
	background-size:cover;
	margin:0 auto;
	padding: 0 50px;
	border: 3px solid #1EAFDC;
	
}

.frameContainer img {
	display: inline-block;
}

#mouse1,#mouse2,#mouse3,#mouse4,#mouse5{
	/*
	position:absolute;
	left:0;
	bottom:0;
    */
}

.menuButtonBar {
	text-align:center;
	width: 100%;
	//position: relative;
}

.buttonGroup {
	position: relative;	
	display: inline-block;
	
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuButton {
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-family: bebasCustom;
	-webkit-text-stroke: 1.5px #1EAFDC;
	font-size: 28px;
}

.menuButton:hover {
	color: blue;
	-webkit-text-stroke: 1.5px white;
}

#framePic {
	height: 400px;
	width: 800px;
	
	//height: 40%;
	//width: 1250px;	
	//margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

#videoPic {
	height: 40%;
	width: 60%;	
	margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

.content {
	border: 3px solid rgba(0,0,0,0);
	width: 90%;
	margin: 0 auto;
	//padding-bottom: 50px;
	//margin-top: -200px;
	
}

.content p {
	-webkit-text-stroke: 0.5px #1EAFDC;
	//padding:0 30px;
	 padding-top:0px;
	// margin-top:0px;
	 margin-bottom:30px;
}

.frame p {
	font-family:Verdana;
	color: white;
	font-size: 17px;
	 
}

.button2 {
	display:inline-block;
	border:0;
	padding:0;
		
	line-height: 60px;
	
}

.button {
	display:inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-family: neuropolCustom;
	text-decoration: none;
	color:white;	
	background: #1d2027;
	border-radius: 100%;
 	font-size: 10px;
	border: 3px solid #1EAFDC;
	margin: 0 20px;
}

.button3:hover {
	background: red;
	color: white;
}


.button:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}


.button2:hover {
	opacity: 0.7;
}

.buttonBar {
	text-align: center;	
	padding-bottom: 50px;
	//margin-bottom: 50px;
}


.button3 {
	display:inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	font-family: neuropolCustom;
	text-decoration: none;
	color:white;	
	background: #1d2027;
	border-radius: 100%;
 	font-size: 20px;
	border: 3px solid #1EAFDC;
	margin: 0 20px;
}

.button3:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}


#homeButton {
	float: right;

}

#backButton {
	float: left;

}

.last {
	clear: both;	
}
.reminder {
	font-size: 12px;
}
