.button {
	border: 1px solid black;
	margin: 10px;
}
body {
	background-color: #000;
	color:#fff;
}

#demo {
	width: 692px;
	height: 100px;
	background-color: #333;
	padding: 8px;
}
#demoBackground {
	position: relative;
	background-color: #000;
	overflow: hidden;
	width: 692px;
	height: 100px;
	visibility:hidden;
}
#logo {
	position: absolute;
	background: url(img/logo_black.jpg) no-repeat;
	height: 60px;
	width: 60px;
	top: 6px;
}
.sliderHolder{
	margin-top:16px;
	float:left;
	width:280px;
	
}
.sliderHolder p{
	margin:0px;
	font-size:14px;
}
.slider {
	width: 270px;
	margin: 4px 0px 8px 6px;	
}
#txtContainer {
	position: absolute;
	left: 55px;
	top: 14px;
}
.txt {
	font: 36px monospace;
	position: absolute;
	color: #afafaf;
	font-weight: bold;
	left: 0px;
	top: 0;
}