html {
	margin: 0;
	padding: 0;	
}

h1 {
	margin: 0;
	padding: 0;		
}

html, body {margin: 0; height: 100%; overflow: hidden}
@font-face {
    font-family: neuropolCustom;
    src: url(../fonts/neuropol.ttf);
}

@font-face {
    font-family: bebasCustom;
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: airstrikeCustom;
    src: url(../fonts/airstrike.ttf);
}


body {
	background-image: url("../images3/bg.jpg");
	background-size:cover;
}

#firstTopButton{
	margin-left: 30px;	
}

.topButton {
	color:white;
	-webkit-text-stroke: 0.5px white;
}

.topButton:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}

.firstBar {
	margin-top:-90px;	
}

.secondBar {
	margin-top:-70px;	
}

.hide {
	display: none;
	
}

#road1 {
	margin: 0 auto;
	text-align:center;
	//position: absolute;
}

#road2 {
	margin: 0 auto;
	text-align:center;
	//position: absolute;
	//visibility: hidden;
}

.sky {
	margin: 0 auto;
	position: relative;
	//background-image: url("../newimages/sky-01.png");
	//background-size:cover;
	//width: 80%;
	/height: 400px;
		
	width: 80%;
	height: 400px;
	//left:0%;
		
	border: 3px solid #1EAFDC;
	border-radius: 10px;
	margin-bottom: 10px;
	 
}

.town {
	width: 100%;
	height: 100%
	
}

#skater1{
	position: absolute;
	height: 55px;
	//height: 80px;
	left:0;
	bottom: 0;
}	
 
#skater2{
	position: absolute;
	height: 55px;
	//height: 80px;
	left:0;
	bottom: 0;
	margin-bottom: 80px;
}	

#skater3{
	position: absolute;
	//height: 150px;
	height: 10px;
	left:0;
	bottom: 0;
	margin-bottom: 235px;

}	
 
#skater4{
	position: absolute;
	//height: 150px;
	height: 10px;
	left:0;
	bottom: 0;
	margin-bottom: 245px;
}	


#car1{
	position: absolute;
	height: 55px;
	left:0;
	bottom: 0;
}	

.firstBar {
	margin-top:-55px;	
}

 
#car2{
	position: absolute;
	height: 55px;
	left:0;
	bottom: 0;
	margin-bottom: 80px;
}	  
  
  
.inputs {
	font-family: Verdana;
	
	color: white;
}

.inputs input{
	font-family: Verdana;
	color: black;
	width: 40px;
}


.hidden {
	display: none;
}

h1 {
	text-align: center;
	font-family: neuropolCustom;
	color: white;
	padding-top: 30px;
	stroke: blue;
	margin-top: 0;
	
	-webkit-text-stroke: 0.5px #1EAFDC;
	font-size: 50px;
	/*
    text-shadow:
    1px 1px 0 blue,
    -1px -1px 0 blue,  
    1px -1px 0 blue,
    -1px 1px 0 blue,
    1px 1px 0 blue;
	*/
}


h2 {
	font-family: airstrikeCustom;
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px #1EAFDC;
	font-size: 30px;
}

h3 {
	font-family: myThirdFont;
}



.main {
	
	
}
 

.frame {
	//position:relative;
	margin: 0 auto;
	text-align: center;
	//margin: 0 auto;
	//border: 3px solid red;
	padding-top: 30px;
	//background-image: url("../images3/overlay-grid4.png");
	//background-size:contain;
	//width:100%;
	
	height:600px;	
	//background-repeat: no-repeat;
	
	background-image: url("../images3/overlay-grid4.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:1050px;
	
}

.menuButtonBar {
	text-align:center;
	width: 100%;
	//position: relative;
}

.buttonGroup {
	position: relative;	
	display: inline-block;
	
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuButton {
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-family: bebasCustom;
	-webkit-text-stroke: 1.5px #1EAFDC;
	font-size: 28px;
}

.menuButton:hover {
	color: red;
	-webkit-text-stroke: 1.5px white;
}

#framePic {
	height: 40%;
	width: 60%;	
	margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

#videoPic {
	height: 40%;
	width: 60%;	
	margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

.content {
	width: 60%;
	margin: 0 auto;
	//padding-bottom: 50px;
	//margin-top: -200px;
	
}

.content p {
	-webkit-text-stroke: 0.5px #1EAFDC;
}

.frame p {
	font-family:neuropolCustom;
	color: white;
	font-size: 18px;
}

.button2 {
	display:inline-block;
	border:0;
	padding:0;
		
	line-height: 60px;
	
}

.button2:hover {
	
	opacity: 0.7;
}


.button {
	display: inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-family: neuropolCustom;
	text-decoration: none;
	color: white;
	background: #1d2027;
	border-radius: 100%;
	font-size: 10px;
	border: 3px solid #1EAFDC;
	margin-top: 0;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 0;
}

.topButton {
	display: inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-family: neuropolCustom;
	text-decoration: none;
	color: white;
	background: #1d2027;
	border-radius: 100%;
	font-size: 10px;
	border: 3px solid #1EAFDC;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0px;
	margin-bottom: 0;
}

#firstTopButton{
	margin-left: 30px;	
}

.topButton:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}



.button:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}

.buttonBar {
	text-align: center;	
	padding-bottom: 50px;
	//margin-bottom: 50px;
}

#homeButton {
	float: right;

}

#homeButtonExploration {
	float: left;

}

#backButton {
	float: left;

}

.last {
	clear: both;	
}

label {
	
	font-family: Verdana;
	color: white;
	-webkit-text-stroke: 0.5px #1EAFDC;
	font-size: 17px;

}
