.vehicles {
	
	padding-top: 160px;
	margin: 0 auto;
}

#bus {
	float:left;
}

#car {
	float:right;
	padding-top:50px;
	
}

.text {
  background-color: #D9E8F4;
  font-weight: bold;
}


.resizeButton {
  border: none;
  height: 80px;
  width: 200px;
    margin-left: 40px;
}


body {
	background-color: #b2cce5;
	background-image: url("../newimages/TOMIOD-CYO-2-towns.jpg");
	display: fixed;
	background-repeat: no-repeat;
	background-size: 100% 800px;
}

ul {
  padding: 0px 30px;
}

h2 {

  font-style: italic;
  border-bottom: 2px solid rgb(0, 0, 150);
  padding: 0px 30px 15px 50px;
  color: rgb(0, 0, 150);
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;

}

a {
  color: rgb(0, 0, 150);
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  text-decoration: none;

}

a:hover {
  color: rgb(0, 0, 230);
  font-weight: bold;

}

p {
  color: rgb(0, 0, 150);
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  padding: 0px 80px;

}
 

.imageParagraph {
  padding-top: 10px;
  border-bottom: 2px dashed rgb(0, 0, 150);
  padding-bottom: 30px;
  width: 80%;
  margin: auto;
}

.imageTitle {
  padding-top: 30px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 1.2em;
}

.schoolItem {
  margin-bottom: 0px;
  padding: 0px 0px 10px 30px;

}

.links {
  display: inline;


}

.experience {
  width: 87%;
  margin: auto;
  padding: 30px 30px 15px 10px;
  al
}


#container {
  width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  margin-top: 0;
  padding-top: 0;
}

#header {
  height: 400px;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
}

#aboutHeader {
  font-size: 5em;
  font-family: 'Reem Kufi', sans-serif;
  color: black;
  color: rgb(0, 0, 150);
  font-weight: bold;
  margin-bottom: -10px;
}

#resumeHeader {
  font-size: 5em;
  font-family: 'Reem Kufi', sans-serif;
  color: rgb(0, 0, 150);
  padding-left: 70px;
  padding-bottom: 0px;
  margin-bottom: -10px;

}



#myself {
  color: rgb(0, 0, 150);
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  padding: 0px 30px 50px;
  border-bottom: 2px dashed rgb(0, 0, 150);
  font-size: 1.2em;

}

#schoolList {
  color: rgb(0, 0, 150);
  font-family: 'Libre Baskerville', serif;
padding: 0px 0px 200px 100px;
}




#firstLink {

  border-right: 2px solid rgb(0, 0, 150);
  padding-right: 10px;
  margin-right: 5px;
}



#resumeNav {
  padding-left: 100px;

}

#school {
  font-weight: bold;
  font-size: 1.2em;

}

#enjoy {
  padding-left: 10px;


}

#copyright {
  display: block;
  margin-top: 350px;

}

.red {
  background-color: red;
}
