html {
	margin: 0;
	padding: 0;	
}
html, body {margin: 0; height: 100%; overflow: hidden}

h1 {
	margin:0;
	padding:0;
}

@font-face {
    font-family: neuropolCustom;
    src: url(../fonts/neuropol.ttf);
}

@font-face {
    font-family: bebasCustom;
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: airstrikeCustom;
    src: url(../fonts/airstrike.ttf);
}


body {
	background-image: url("../images3/bg.jpg");
	background-size:cover;
}

.sky {
	position: relative;
	//background-image: url("../newimages/sky-01.png");
	//background-size:cover;
	width: 80%;
	height: 600px;
	margin: 0 auto;
	border: 3px solid #1EAFDC;
	border-radius: 10px;
	margin-bottom: 10px;
	 
}

.water {
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	border: 3px solid #1EAFDC;
	border-radius: 10px;
	margin-bottom: 10px;
	background-image: url("../newimages/boat-background-island.jpg");
  
    background-size: cover;
	text-align: center;
	background-repeat:no-repeat;
	 
}

#hand, #hand2 {
	
	margin: 0 auto;
	text-align: right;
	position: absolute;
	background-color:rgba(0,0,0,0); 
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hand, #hand2 {
 	width: 380px;
}



#hand2 {
 	//width: 330px;
}

.redHighlight {
	//border: 3px solid red;	
}

.boats {
	width:10%;
	//height: 40px;
	//width: 04px;

}

.town {
	width: 100%;
	height: 100%
	
}

#skater1{
	position: absolute;
	height: 250px;
	left:0;
	bottom: 0;
}	
 
#skater2{
	position: absolute;
	height: 250px;
	left:0;
	bottom: 0;
	margin-bottom: 100px;
}	

#car1{
	position: absolute;
	height: 85px;
	left:0;
	bottom: 0;
}	
 
#car2{
	position: absolute;
	height: 85px;
	left:0;
	bottom: 0;
	margin-bottom: 100px;
}	  
  
  
.inputs {
	font-family: Verdana;
	color: white;
	font-size: 17px;
}

.inputs input{
	font-family: Verdana;
	color: black;
	width: 40px;
	font-size: 14px;
}


.hidden {
	display: none;
}

.secondBar {
	margin-top:-75px;	
}


h1 {
	text-align: center;
	font-family: neuropolCustom;
	color: white;
	//padding-top: 30px;
	stroke: blue;
	margin-top: 0;
	
	-webkit-text-stroke: 0.5px #1EAFDC;
	font-size: 50px;
	/*
    text-shadow:
    1px 1px 0 blue,
    -1px -1px 0 blue,  
    1px -1px 0 blue,
    -1px 1px 0 blue,
    1px 1px 0 blue;
	*/
}


h2 {
	font-family: airstrikeCustom;
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px #1EAFDC;
	font-size: 30px;
}

h3 {
	font-family: myThirdFont;
}

.main {
	
	
}
 

.frame {
	//border: 3px solid red;
	padding-top: 30px;
	//background-image: url("../images3/overlay-grid.png");
	//background-size:cover;
	//width:100%;
	text-align: center;
	height:600px;	
	
	background-image: url("../images3/overlay-grid4.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:1050px;
	margin: 0 auto;
	
	
}

.menuButtonBar {
	text-align:center;
	width: 100%;
	//position: relative;
}


.button3 {
	display:inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	font-family: neuropolCustom;
	text-decoration: none;
	color:white;	
	background: #1d2027;
	border-radius: 100%;
 	font-size: 20px;
	border: 3px solid #1EAFDC;
	margin: 0 20px;
}

.button3:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}

.buttonGroup {
	position: relative;	
	display: inline-block;
	
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuButton {
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-family: bebasCustom;
	-webkit-text-stroke: 1.5px #1EAFDC;
	font-size: 28px;
}

.menuButton:hover {
	color: blue;
	-webkit-text-stroke: 1.5px white;
}

#framePic {
	height: 40%;
	width: 60%;	
	margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

#videoPic {
	height: 40%;
	width: 60%;	
	margin-bottom: 50px;
	border: 3px solid #1EAFDC;
	border-radius: 20px;
	
}

.content {
	width: 60%;
	margin: 0 auto;
	//padding-bottom: 50px;
	//margin-top: -200px;
	
}

label {
	
	font-family: Verdana;
	color: white;
	-webkit-text-stroke: 0.5px #1EAFDC;

}

.content p {
	-webkit-text-stroke: 0.5px #1EAFDC;
}

.frame p {
	font-family:neuropolCustom;
	color: white;
	font-size: 18px;
}

.button2 {
	display:inline-block;
	border:0;
	padding:0;
		
	line-height: 60px;
	
}

.button2:hover {

	opacity: 0.7;
}


.button {
	display:inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-family: neuropolCustom;
	text-decoration: none;
	color:white;	
	background: #1d2027;
	border-radius: 100%;
 	font-size: 10px;
	border: 3px solid #1EAFDC;
	margin: 0 20px;
}

.button:hover {
	background: red;
	color: white;
}

.buttonBar {
	text-align: center;	
	padding-bottom: 50px;
	//margin-bottom: 50px;
}


.topButton {
	display: inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-family: neuropolCustom;
	text-decoration: none;
	color: white;
	background: #1d2027;
	border-radius: 100%;
	font-size: 10px;
	border: 3px solid #1EAFDC;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0px;
	margin-bottom: 0;
	-webkit-text-stroke: 0.5px white;
}

#firstTopButton{
	margin-left: 30px;	
}

.topButton:hover {
	background: red;
	color: white;
	border-color: #7a1414;
}



#homeButton {
	float: right;

}

#backButton {
	float: left;

}

.last {
	clear: both;	
}
